body{
    background-color: white;
   
    
}
.navmenu{
    position: absolute;
    left: 0;
    top:0;
    background-color: #273F7F ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
.navmenu a {
    margin-left: 15px;
    display: flex;
    color: white;
    gap: 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    align-items: center;
}
    

.navmenu a img{
    width: 64px;
    height: 64px;
}
.navmenu a div{
    width: 6px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}
.navmenu ul {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
.navmenu ul li{
    color: white;
    list-style: none;
}
.navmenu ul li:hover {
    transition: all 0.3ms;
    
    border-radius: 10px;
    
}
.navmenu ul li a:hover{
    color: gold;
}
.navmenu ul li a{
    font-size: 18px;
}

.adjustment{
    margin-top: 120px;
    margin-left: 65px;
    display: flex;
    width: 1600px;
    height: 1200px;
    background-color: white;
    margin-bottom: 1445px;
}
    

.left_info_adjustment {
    display: block;
}
.left_info {
    height: 380px;
    width: 300px;
    background-color: #273F7F;
    margin-top: 25px;
    margin-left: 20px;
    padding-top: 10px;
}
.left_info div{
    width: 280px;
    height: 4px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.left_info h3{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
.left_info p{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    
}
.left_info a{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;

}
.left_info a:hover{
    color: gold;
    transition: all 3ms;
}
.left_info2 {
    height: 350px;
    width: 300px;
    background-color: #273F7F;
    margin-top: 25px;
    margin-left: 20px;
    padding-top: 10px;
}
.left_info2 div{
    width: 280px;
    height: 4px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.left_info2 h3{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
.left_info2 p{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
}
.left_info2 a{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;

}
.left_info2 a:hover{
    color: gold;
    transition: all 3ms;
}
.sadrzaj{
    display: block;
    margin-top: 25px;
    margin-left: 50px;
    width: 1280px;
    height: 2600px;
    background-color: #F3ECDE;
    border-radius: 20px;
    padding-right: 250px;
    
}
.kolona_paragraph {
    display: flex;
    gap: 40px;
}
.kosmo {
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.kosmo h3{
    color: #273F7F;
    font-size: 30px;    
    margin-left: 300px;
}
.kosmo p{
    font-size: 18px;

}
.boldp{
    font-weight: 800;
}

    

.paragr {
    width: 250px;
    height: 500px;
}
.istice{
    font-size: 20px;
    font-weight: 700;
}
.sta_nudimo{
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.sta_nudimo h3{
    color: #273F7F;
    font-size: 30px;
    margin-left: 300px;
}
.sta_nudimo p{
    font-size: 18px;
}
.sta_nudimo ol{
    font-size: 20px;
    font-weight: 600;
}
.italic{
    font-style: italic;
    font-weight: bold;
}
.bold2{
    font-weight: bold;
    font-size: 20px;
}
.saradnja {
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.saradnja h3{
    color: #273F7F;
    font-size: 30px;
    margin-left: 200px;
}
.saradnja p{
    font-size: 18px;
}
.organizacija {
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.organizacija h3{
    color: #273F7F;
    font-size: 30px;
    margin-left: 220px;
}
.organizacija p{
    font-size: 18px;
}
.hajlinks li{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    margin-top: 10px;
    color: black;
    
}
.hajlinks a{
    text-decoration: none;
    gap: 5px;
    color: black;
}
.privreda {
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
} 
.privreda h3{
    color: #273F7F;
    font-size: 30px;
    margin-left: 245px;
}
.privreda p{
    font-size: 18px;
}
.footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 450px;
    display: flex;
    background-color: #273F7F;
    
}
.columnfoot{
    display: flex;
    gap: 350px;
}
.hedinzi{
    margin-top: 20px;
    margin-left: 200px;
}
.hedinzi h4{
    color: white;
    margin-top: 160px;
}
.hedinzi h3{
    font-size: 25px;
    color: white;
}
.hedinzi h2{
    font-size: 35px;
    color: white;
}
.slika_heading{
display: flex;
justify-content: center;
align-items: center;

}
.slika_heading a{
    margin-top: 25px;
}   
.slika_heading:hover{
    
        background-color:black;
        border-radius: 20px;
        transition: all 3ms;  
}
.kontaktiii h3{
    color: white;
    font-size: 25px; 
}
@keyframes leftinfoslidetop {
    from {
        transform: translateY(700px);
    }
    to{
        transform: translateY(0);
    }
}
.left_info {
    
    animation: leftinfoslidetop 0.5s ease-in-out forwards;

}
@keyframes leftinfoslidebottom {
    from {
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0);
    }
}
.left_info2 {
    
    animation: leftinfoslidebottom 1s ease-in-out forwards;

}
@media(max-width:450px){
    .navmenu{
        position: absolute;
    left: 0;
    top: 0;
    background-color: #273F7F ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    }
    .navmenu a{
        display: flex;
        margin-left: 10px;
        gap: 10px;
        font-size: 20px;
        font-weight: 400;   
        margin-right: 10px;

    }
    .navmenu a div {
        height: 100px;
        width: 10px;
    }
    .navmenu ul{
        
        display: block;
    }
    .navmenu ul li{
        margin-top: 6px;
    }
    .navmenu ul li a{
        font-size: 17px;
    }
        
    }